<% if params[:keyword].present? %>
  <%= button_to "Discover Top 40 Rated Movies", index_path, method: :get %>
  <h2>Search Results:</h2>
<% else %>
  <%= form_tag index_path do %>
    <%= label_tag :keyword %>
    <%= text_field_tag :keyword %>
    <%= submit_tag 'Discover Movies with keyword', keyword: :keyword %>
  <% end %>
  <h2>Top 40 Rated Movies:</h2>
<% end %>

<% @movies.each do |movie| %><br>
  <section id='movie-<%= movie.id %>'>
    <p>Movie Title: <%= link_to movie.title %></p>
    <p>Average Rating: <%= movie.vote_average %></p>
  </section>
<% end %>
